body{
    margin: 0;
    padding: 30px;
    font-family: Arial, sans-serif;
    background: #FFF8F6;
}

.container{
    max-width: 1200px;
    margin: auto;
}

h1{
    text-align: center;
    color: #B76E79;
    margin-bottom: 25px;
}

.customer-card{
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    margin-bottom: 25px;
}

.customer-card h3{
    color: #B76E79;
    margin-bottom: 15px;
}

.customer-card p{
    margin: 8px 0;
    color: #555;
}


table{
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

th{
    background: #B76E79;
    color: white;
    padding: 15px;
    text-align: center;
}

td{
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #f0d8dc;
}

tr:hover{
    background: #FFF1F3;
}



