<!DOCTYPE html>
<html>
<head>
    <title>Add Product</title>
    <link rel="stylesheet" href="../static/product.css">
</head>
<body>
    <div class="sidebar">
        <a href="/prdthome">Home</a>
        <a href="/addproduct">Add Product</a>
        <a href="/viewproduct">View Products</a>
        <a href="/updateproduct">Update Product</a>
        <a href="/deleteproduct">Delete Product</a>
        <a href="/inventory">Inventory</a>
    </div>

    <div class="content">
        <h1>Add Product</h1>
        <form>
            Product ID:<input type="text">
            Category:<select>
                <option>Skincare</option>
                <option>Makeup</option>
                <option>Haircare</option>
                <option>Fragrance</option>
            </select>
            Product Name:<input type="text">
            Price:<input type="number">
            Quantity:<input type="number">
            <button>Add Product</button>
        </form>
    </div>

</body>
</html>