<!DOCTYPE html>
<html>
<head>
    <title>Delete Product</title>
    <link rel="stylesheet" href="../static/product.css">
</head>
<body>
    <div class="sidebar">
        <a href="prdthome.html">Home</a>
        <a href="addproduct.html">Add Product</a>
        <a href="viewproduct.html">View Products</a>
        <a href="updateproduct.html">Update Product</a>
        <a href="deleteproduct.html">Delete Product</a>
        <a href="inventory.html">Inventory</a>
    </div>

    <div class="content">
        <h1>Delete Product</h1>
        <form>
            Product ID:
            <input type="text">

            <button>Delete</button>
        </form>
    </div>
</body>
</html>