<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='cust_manage.css')}}">
</head>
<body>
    <form action="/edit_profile" method="POST">
        <input type="text" name="name" value="{{ customer[1] }}">

        <input type="tel" name="phone" value="{{ customer[2] }}">

        <input type="email" name="email" value="{{ customer[3] }}">

        <textarea name="address">{{ customer[4] }}</textarea>

        <select name="gender">
            <option>Female</option>
            <option>Male</option>
            <option>Other</option>
        </select>

        <select name="skin_type">
            <option>Normal</option>
            <option>Dry</option>
            <option>Oily</option>
            <option>Combination</option>
            <option>Sensitive</option>
        </select>
        <br><br>
        <button type="submit">
            Save Changes
        </button> 
    </form>
</body>
</html>