<!DOCTYPE html>
<html>
<head>
    <title>Fragrance</title>
    <link rel="stylesheet" href="/static/prdtcategories.css">
</head>
<body>
    <div class="header">
        <a href="/customer_home"><button class="backbtn">← Back</button></a>
        <a href="/cart"><button class="cart">Cart</button></a>
        <h1>✨ Fragrance ✨</h1>
        <p>Discover long-lasting perfumes, body mists, and deodorants</p>
    </div>
    <div class="products">
        <div class="card">
            <img src="https://png.pngtree.com/png-clipart/20240527/original/pngtree-blue-perfume-bottle-transparent-background-png-image_15189178.png">
            <h3>Perfume</h3>
            <p class="price">₹999</p>

            <form action="/addprod" method="post">
                <input type="hidden" name="name" value="Perfume">
                <input type="hidden" name="price" value="999">
                <input type="hidden" name="image" value="https://png.pngtree.com/png-clipart/20240527/original/pngtree-blue-perfume-bottle-transparent-background-png-image_15189178.png">
                <button>Add Cart</button>
            </form>
        </div>
        <div class="card">
            <img src="https://tse4.mm.bing.net/th/id/OIP.qx8b3mAbmdupBytoVimlzgHaHa?pid=Api&P=0&h=180">
            <h3>Deodorant</h3>
            <p class="price">₹399</p>
            <form action="/addprod" method="post">
                <input type="hidden" name="name" value="Deodorant">
                <input type="hidden" name="price" value="399">
                <input type="hidden" name="image" value="https://tse4.mm.bing.net/th/id/OIP.qx8b3mAbmdupBytoVimlzgHaHa?pid=Api&P=0&h=180">
                <button>Add Cart</button>
            </form>
        </div>
        <div class="card">
            <img src="https://tse1.mm.bing.net/th/id/OIP.ovQdy-d6-OHLUbGjT4IZ1wHaJ4?pid=Api&P=0&h=180">
            <h3>Body Mist</h3>
            <p class="price">₹799</p>
            <form action="/addprod" method="post">
                <input type="hidden" name="name" value="Body Mist">
                <input type="hidden" name="price" value="799">
                <input type="hidden" name="image" value="https://tse1.mm.bing.net/th/id/OIP.ovQdy-d6-OHLUbGjT4IZ1wHaJ4?pid=Api&P=0&h=180">
                <button>Add Cart</button>
            </form>
        </div>
        <div class="card">
            <span class="tag">40% OFF 🎉</span>
            <img src="https://tse3.mm.bing.net/th/id/OIP.k4H5Zb1-dHM0d8TnV3uO3QHaHa?pid=Api&P=0&h=180">
            <p class="price">₹4599</p>
            <form action="/addprod" method="post">
                <input type="hidden" name="name" value="perfume">
                <input type="hidden" name="price" value="4599">
                <input type="hidden" name="image" value="https://tse3.mm.bing.net/th/id/OIP.k4H5Zb1-dHM0d8TnV3uO3QHaHa?pid=Api&P=0&h=180">
                <button>Add Cart</button>
            </form>
        </div>
        <div class="card">
            <img src="https://www.victoriassecretbeauty.co.id/on/demandware.static/-/Sites-vs-master-beauty-catalog/default/dw05b4ec52/images/large/112047171340_OF_F.jpg">
            <h3>Body Mist</h3>
            <p class="price">₹2299</p>
            <form action="/addprod" method="post">
                <input type="hidden" name="name" value="Body Mist">
                <input type="hidden" name="price" value="2299">
                <input type="hidden" name="image" value="https://www.victoriassecretbeauty.co.id/on/demandware.static/-/Sites-vs-master-beauty-catalog/default/dw05b4ec52/images/large/112047171340_OF_F.jpg">
                <button>Add Cart</button>
            </form>
        </div>
        <div class="card">
            <img src="https://tse1.mm.bing.net/th/id/OIP.BLN4_DSy8vM1F29Afe-FvwHaHa?pid=Api&P=0&h=180">
            <h3>Deodorant</h3>
            <p class="price">₹629</p>
            <form action="/addprod" method="post">
                <input type="hidden" name="name" value="Deodorant">
                <input type="hidden" name="price" value="629">
                <input type="hidden" name="image" value="https://tse1.mm.bing.net/th/id/OIP.BLN4_DSy8vM1F29Afe-FvwHaHa?pid=Api&P=0&h=180">
                <button>Add Cart</button>
            </form>
        </div>
        <div class="card">
            <img src="https://tse3.mm.bing.net/th/id/OIP.BzHOxK-6kLy1vc5R9tYGPAHaIp?pid=Api&P=0&h=180">
            <h3>Deodorant</h3>
            <p class="price">₹399</p>
            <form action="/addprod" method="post">
                <input type="hidden" name="name" value="Deodorant">
                <input type="hidden" name="price" value="399">
                <input type="hidden" name="image" value="https://tse3.mm.bing.net/th/id/OIP.BzHOxK-6kLy1vc5R9tYGPAHaIp?pid=Api&P=0&h=180">
                <button>Add Cart</button>
            </form>
        </div>
        <div class="card">
            <img src=https://tse1.mm.bing.net/th/id/OIP.xhAFLo860SdUZWDrzmfVmQHaHa?pid=Api&P=0&h=180">
            <h3>Perfume</h3>
            <p class="price">₹2199</p>
            <form action="/addprod" method="post">
                <input type="hidden" name="name" value="perfume">
                <input type="hidden" name="price" value="2199">
                <input type="hidden" name="image" value="https://tse1.mm.bing.net/th/id/OIP.xhAFLo860SdUZWDrzmfVmQHaHa?pid=Api&P=0&h=180">
                <button>Add Cart</button>
            </form>
        </div>
    </div>

</body>
</html>