<!DOCTYPE html>
<html>
<head>
    <title>Haircare</title>
    <link rel="stylesheet" href="/static/prdtcategories.css">
</head>
<body>
    <div class="header">
        <a href="/customer_home"><button class="backbtn">← Back</button></a>
        <a href="/cart"><button class="cart">Cart</button></a>
        <div class="caption">
            <h1>✨ Haircare Products ✨</h1>
            <p>Good hair, good mood, good day.Nourish your hair, boost your confidence</p>
        </div>
    </div>
    <div class="products">
        <div class="card">
            <img src="https://tse2.mm.bing.net/th/id/OIP.6A9QvMOlDvIVA6YxVj5RWgHaHa?pid=Api&P=0&h=180">
            <p class="price">₹480</p>
            <form action="/addprod" method="post">
                <input type="hidden" name="name" value="Shampoo">
                <input type="hidden" name="price" value="450">
                <input type="hidden" name="image" value="https://tse2.mm.bing.net/th/id/OIP.6A9QvMOlDvIVA6YxVj5RWgHaHa?pid=Api&P=0&h=180">
                <button>Add Cart</button>
            </form>
        </div>
        <div class="card">
            <img src="https://i5.walmartimages.com/seo/L-Oreal-Paris-Elvive-Hyaluron-Pure-Moisturizing-Conditioner-for-Oily-Hair-Squeeze-Bottle-13-5-fl-oz_0ef9657a-ce45-4db2-98c6-67149fd32117.ea31cbe61ff09866420fbf0e3b984b3c.jpeg">
            <h3>Conditioner</h3>
            <p class="price">₹620</p>
            <form action="/addprod" method="post">
                <input type="hidden" name="name" value="conditioner">
                <input type="hidden" name="price" value="450">
                <input type="hidden" name="image" value="https://i5.walmartimages.com/seo/L-Oreal-Paris-Elvive-Hyaluron-Pure-Moisturizing-Conditioner-for-Oily-Hair-Squeeze-Bottle-13-5-fl-oz_0ef9657a-ce45-4db2-98c6-67149fd32117.ea31cbe61ff09866420fbf0e3b984b3c.jpeg">
                <button>Add Cart</button>
            </form>
        </div> 
        <div class="card">
            <img src="https://tse4.mm.bing.net/th/id/OIP.cCFDhReapN7TbLA7Q32cfQHaHa?pid=Api&P=0&h=180">
            <h3>Shampoo</h3>
            <p class="price">₹560</p>
            <form action="/addprod" method="post">
                <input type="hidden" name="name" value="Shampoo">
                <input type="hidden" name="price" value="560">
                <input type="hidden" name="image" value="https://tse4.mm.bing.net/th/id/OIP.cCFDhReapN7TbLA7Q32cfQHaHa?pid=Api&P=0&h=180">
                <button>Add Cart</button>
            </form>
        </div>
            <div class="card">
            <img src="https://tse3.mm.bing.net/th/id/OIP.A45tBQaNz-7tZeJxT_ZQTwHaHa?pid=Api&P=0&h=180">
            <h3>Hair Mask</h3>
            <p class="price">₹600</p>
            <form action="/addprod" method="post">
                <input type="hidden" name="name" value="Hair Mask">
                <input type="hidden" name="price" value="600">
                <input type="hidden" name="image" value="https://tse3.mm.bing.net/th/id/OIP.A45tBQaNz-7tZeJxT_ZQTwHaHa?pid=Api&P=0&h=180">
                <button>Add Cart</button>
            </form>
        </div>
            <div class="card">
            <img src="https://tse3.mm.bing.net/th/id/OIP.Bo8_bKGE17WyVKVgoLfgrgHaHa?pid=Api&P=0&h=180">
            <h3>Hair Oil</h3>
            <p class="price">₹390</p>
            <form action="/addprod" method="post">
                <input type="hidden" name="name" value="Hair Oil">
                <input type="hidden" name="price" value="390">
                <input type="hidden" name="image" value="https://tse3.mm.bing.net/th/id/OIP.Bo8_bKGE17WyVKVgoLfgrgHaHa?pid=Api&P=0&h=180">
                <button>Add Cart</button>
            </form>
        </div>
            <div class="card">
            <img src=https://tse3.mm.bing.net/th/id/OIP.zpbHpxixY8LK9EiNzkAviQHaHa?pid=Api&P=0&h=180">
            <h3>Conditioner</h3>
            <p class="price">₹620</p>
            <form action="/addprod" method="post">
                <input type="hidden" name="name" value="Conditioner">
                <input type="hidden" name="price" value="620">
                <input type="hidden" name="image" value="https://tse3.mm.bing.net/th/id/OIP.zpbHpxixY8LK9EiNzkAviQHaHa?pid=Api&P=0&h=180">
                <button>Add Cart</button>
            </form>
        </div>
            <div class="card">
            <img src="https://tse4.mm.bing.net/th/id/OIP.5FBFAsV3mKAFOVRomAmE3wHaHa?pid=Api&P=0&h=180">
            <h3>Hair Color</h3>
            <p class="price">₹499</p>
            <form action="/addprod" method="post">
                <input type="hidden" name="name" value="Hair Color">
                <input type="hidden" name="price" value="499">
                <input type="hidden" name="image" value="https://tse4.mm.bing.net/th/id/OIP.5FBFAsV3mKAFOVRomAmE3wHaHa?pid=Api&P=0&h=180">
                <button>Add Cart</button>
            </form>
        </div>
        <div class="card">
            <img src="https://tse3.mm.bing.net/th/id/OIP.b-Gp_FHslvT8MH-ik6Vk6gHaHa?pid=Api&P=0&h=180">
            <h3>Hair Serum</h3>
            <p class="price">₹557</p>
            <form action="/addprod" method="post">
                <input type="hidden" name="name" value="Hair Serum">
                <input type="hidden" name="price" value="557">
                <input type="hidden" name="image" value="https://tse3.mm.bing.net/th/id/OIP.b-Gp_FHslvT8MH-ik6Vk6gHaHa?pid=Api&P=0&h=180">
                <button>Add Cart</button>
            </form>
        </div>
    </div>
</body> 
</html>