<!DOCTYPE html>
<html>
<head>
    <title>Skincare Products</title>
    <link rel="stylesheet" href="../static/prdtcategories.css">
</head>
<body>
    <div class="header">
        <a href="/customer_home"><button class="backbtn">← Back</button></a>
        <a href="/cart"><button class="cart">Cart</button></a>
        <h1>✨ Makeup Products ✨</h1>
        <p>Express yourself with every shade 💄Beauty begins with the right touch</p>
    </div>
    <div class="products">
        <div class="card">
            <span class="tag">New Arrival</span>
            <img src="https://static.vecteezy.com/system/resources/previews/037/279/599/original/ai-generated-colorful-lipstick-isolated-on-transparent-background-free-png.png">
            <h3>Lipstick</h3>
            <p class="price">₹289</p>
            <form action="/addprod" method="post">
                <input type="hidden" name="name" value="Lipstick">
                <input type="hidden" name="price" value="289">
                <input type="hidden" name="image" value="https://static.vecteezy.com/system/resources/previews/037/279/599/original/ai-generated-colorful-lipstick-isolated-on-transparent-background-free-png.png">
                <button>Add Cart</button>
            </form>
        </div>
        <div class="card">
            <img src="https://tse2.mm.bing.net/th/id/OIP.pVDs1obAC-y8gGKwTEiu0wHaHa">
            <h3>Foundation</h3>
            <p class="price">₹599</p>
            <form action="/addprod" method="post">
                <input type="hidden" name="name" value="Foundation">
                <input type="hidden" name="price" value="550">
                <input type="hidden" name="image" value="https://tse2.mm.bing.net/th/id/OIP.pVDs1obAC-y8gGKwTEiu0wHaHa">
                <button>Add Cart</button>
            </form>
        </div>
        <div class="card">
            <span class="tag">20% OFF🎉 </span>
            <img src="https://tse1.mm.bing.net/th/id/OIP.t1fLG21044VgKRhLb9Y3YAHaHa?pid=Api&rs=1&c=1&qlt=95&w=121&h=121">
            <h3>Blush</h3>
            <p class="price">₹1399</p>
            <form action="/addprod" method="post">
                <input type="hidden" name="name" value="Blush">
                <input type="hidden" name="price" value="1399">
                <input type="hidden" name="image" value="https://tse1.mm.bing.net/th/id/OIP.t1fLG21044VgKRhLb9Y3YAHaHa?pid=Api&rs=1&c=1&qlt=95&w=121&h=121">
                <button>Add Cart</button>
            </form>
        </div>
        <div class="card">
            <img src="https://tse1.mm.bing.net/th/id/OIP.bsrNPJJFMoSzjckuOLUVJwHaHa?pid=Api&P=0&h=180">
            <h3>Eyeshadow</h3>
            <p class="price">₹510</p>
            <form action="/addprod" method="post">
                <input type="hidden" name="name" value="Eyeshadow">
                <input type="hidden" name="price" value="510">
                <input type="hidden" name="image" value="https://tse1.mm.bing.net/th/id/OIP.bsrNPJJFMoSzjckuOLUVJwHaHa?pid=Api&P=0&h=180">
                <button>Add Cart</button>
            </form>
        </div>
        <div class="card">
            <img src="https://tse2.mm.bing.net/th/id/OIP.saRVYyO4X8NNpuQlvwItzwHaHv?pid=Api&P=0&h=180">
            <h3>Lipstick</h3>
            <p class="price">₹660</p>
            <form action="/addprod" method="post">
                <input type="hidden" name="name" value="Lipstick">
                <input type="hidden" name="price" value="660">
                <input type="hidden" name="image" value="https://tse2.mm.bing.net/th/id/OIP.saRVYyO4X8NNpuQlvwItzwHaHv?pid=Api&P=0&h=180">
                <button>Add Cart</button>
            </form>
        </div>
        <div class="card">
            <img src="https://tse3.mm.bing.net/th/id/OIP.9m82o9l0o_JdHCPuueZcFAHaHa?pid=Api&P=0&h=180">
            <h3>Primer</h3>
            <p class="price">₹330</p>
            <form action="/addprod" method="post">
                <input type="hidden" name="name" value="Primer">
                <input type="hidden" name="price" value="330">
                <input type="hidden" name="image" value="https://tse3.mm.bing.net/th/id/OIP.9m82o9l0o_JdHCPuueZcFAHaHa?pid=Api&P=0&h=180">
                <button>Add Cart</button>
            </form>
        </div>
        <div class="card">
            <img src="https://tse2.mm.bing.net/th/id/OIP.X5MiiF4iw3AK6ZyF5P7ZZAHaHa?pid=Api&P=0&h=180">
            <h3>Kajal</h3>
            <p class="price">₹599</p>
            <form action="/addprod" method="post">
                <input type="hidden" name="name" value="Kajal">
                <input type="hidden" name="price" value="550">
                <input type="hidden" name="image" value="https://tse2.mm.bing.net/th/id/OIP.X5MiiF4iw3AK6ZyF5P7ZZAHaHa?pid=Api&P=0&h=180">
                <button>Add Cart</button>
            </form>
        </div>
        <div class="card">
            <img src=https://tse1.mm.bing.net/th/id/OIP.fM1GH2FHrPsd7WKyPlON0gHaJQ?pid=Api&P=0&h=180">
            <h3>concealer</h3>
            <p class="price">₹1500</p>
            <form action="/addprod" method="post">
                <input type="hidden" name="name" value="concealer">
                <input type="hidden" name="price" value="1500">
                <input type="hidden" name="image" value="https://tse1.mm.bing.net/th/id/OIP.fM1GH2FHrPsd7WKyPlON0gHaJQ?pid=Api&P=0&h=180">
                <button>Add Cart</button>
            </form>
        </div>
        <div class="card">
            <img src="https://tse1.mm.bing.net/th/id/OIP.jNcNGyrxbix8qHcj_pb99wHaFS?pid=Api&P=0&h=180">
            <h3>Highlighter</h3>
            <p class="price">₹1099</p>
            <form action="/addprod" method="post">
                <input type="hidden" name="name" value="Highlighter">
                <input type="hidden" name="price" value="1099">
                <input type="hidden" name="image" value="https://tse1.mm.bing.net/th/id/OIP.jNcNGyrxbix8qHcj_pb99wHaFS?pid=Api&P=0&h=180">
                <button>Add Cart</button>
            </form>
        </div>
        <div class="card">
            <img src="https://tse1.mm.bing.net/th/id/OIP.0SG9IxHdkmneoZLVPSyKtAHaHa?pid=Api&P=0&h=180">
            <h3>Foundation</h3>
            <p class="price">₹699</p>
            <form action="/addprod" method="post">
                <input type="hidden" name="name" value="">
                <input type="hidden" name="price" value="699">
                <input type="hidden" name="image" value="https://tse1.mm.bing.net/th/id/OIP.0SG9IxHdkmneoZLVPSyKtAHaHa?pid=Api&P=0&h=180">
                <button>Add Cart</button>
            </form>
        </div>
        <div class="card">
            <img src="https://tse2.mm.bing.net/th/id/OIP.D8pR7JF8wp4LKp1iKILHBwHaKe?pid=Api&P=0&h=180">
            <h3>Eyeshadow</h3>
            <p class="price">₹380</p>
            <form action="/addprod" method="post">
                <input type="hidden" name="name" value="Eyeshadow">
                <input type="hidden" name="price" value="380">
                <input type="hidden" name="image" value="https://tse2.mm.bing.net/th/id/OIP.D8pR7JF8wp4LKp1iKILHBwHaKe?pid=Api&P=0&h=180">
                <button>Add Cart</button>
            </form>
        </div>
    </div>
</body>
</html>