<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='product.css') }}">
</head>
<body>
    <div class="sidebar">
        <a href="/prdthome">Home</a>
        <a href="/addproduct">Add Product</a>
        <a href="/viewproduct">View Products</a>
        <a href="/updateproduct">Update Product</a>
        <a href="/deleteproduct">Delete Product</a>
        <a href="/inventory">Inventory</a>
    </div>

    <div class="content">
        <h1>Cosmetic Store </h1>
        <h2>Product & Inventory Management</h2>
        <p>Welcome, Administrator. This dashboard provides centralized access to all product and inventory management functions of the cosmetic store.<br>Manage products, update inventory, track stock,and organize your cosmetic store efficiently.</p>
    </div>
</body>
</html>