<!DOCTYPE html>
<html>
<head>
    <title>Skincare</title>
    <link rel="stylesheet" href="/static/prdtcategories.css">
</head>
<body>
    <div class="header">
        <a href="/customer_home"><button class="backbtn">← Back</button></a>
        <a href="/cart"><button class="cart">Cart</button></a>
        <h1>✨ Skincare Products ✨</h1>
        <p>Healthy skin is always in style.Care for your skin, it carries you every day</p>
    </div>
    <div class="products">
        <div class="card">
            <span class=tag>New Arrival</span>
            <img src="https://tse2.mm.bing.net/th/id/OIP.hy6Cz-91NfAbeZCS9CeGGAHaHa?pid=Api&P=0&h=180">
            <h3>Face Wash</h3>
            <p class="price">₹299</p>
            <form action="/addprod" method="post">
                <input type="hidden" name="name" value="Face Wash">
                <input type="hidden" name="price" value="199">
                <input type="hidden" name="image" value="https://tse2.mm.bing.net/th/id/OIP.hy6Cz-91NfAbeZCS9CeGGAHaHa?pid=Api&P=0&h=180">
                <button>Add Cart</button>
            </form>
        </div>
        <div class="card">
            <img src="https://tse4.mm.bing.net/th/id/OIP.OBs3s1b5fyqsUXdlyvKekQAAAA?pid=Api&P=0&h=180">
            <h3>Serum</h3>
            <p class="price">₹299</p>
            <form action="/addprod" method="post">
                <input type="hidden" name="name" value="Serum">
                <input type="hidden" name="price" value="299">
                <input type="hidden" name="image" value="https://tse4.mm.bing.net/th/id/OIP.OBs3s1b5fyqsUXdlyvKekQAAAA?pid=Api&P=0&h=180">
                <button>Add Cart</button>
            </form>
        </div>
        <div class="card">
            <img src="https://tse4.mm.bing.net/th/id/OIP.xl8hLRUeDCvKGSHjAAK-4wHaHa?pid=Api&P=0&h=180">
            <h3>Serum</h3>
            <p class="price">₹1399</p>
            <form action="/addprod" method="post">
                <input type="hidden" name="name" value="Serum">
                <input type="hidden" name="price" value="1399">
                <input type="hidden" name="image" value="https://tse4.mm.bing.net/th/id/OIP.xl8hLRUeDCvKGSHjAAK-4wHaHa?pid=Api&P=0&h=180">
                <button>Add Cart</button>
            </form>
        </div>
        <div class="card">
            <img src="https://tse4.mm.bing.net/th/id/OIP.ieYyCz5iPk2CIUXW-yLWUwHaHa?pid=Api&P=0&h=180">
            <h3>Moisturiser</h3>
            <p class="price">₹999</p>
            <form action="/addprod" method="post">
                <input type="hidden" name="name" value="Moisturizer">
                <input type="hidden" name="price" value="39">
                <input type="hidden" name="image" value="https://tse4.mm.bing.net/th/id/OIP.ieYyCz5iPk2CIUXW-yLWUwHaHa?pid=Api&P=0&h=180">
                <button>Add Cart</button>
            </form>
        </div>
        <div class="card">
            <img src="https://tse4.mm.bing.net/th/id/OIP.WB0rIJLOh2v1xc8DICqT6gHaHa?pid=Api&P=0&h=180">
            <h3>Toner</h3>
            <p class="price">₹450</p>
            <form action="/addprod" method="post">
                <input type="hidden" name="name" value="Toner">
                <input type="hidden" name="price" value="450">
                <input type="hidden" name="image" value="https://tse4.mm.bing.net/th/id/OIP.WB0rIJLOh2v1xc8DICqT6gHaHa?pid=Api&P=0&h=180">
                <button>Add Cart</button>
            </form>
        </div>
        <div class="card">
            <img src="https://tse3.mm.bing.net/th/id/OIP.k699yQbWNZc_GDRK79QJpgHaHa?pid=Api&P=0&h=180">
            <h3>Lip Balm</h3>
            <p class="price">₹760</p>
            <form action="/addprod" method="post">
                <input type="hidden" name="name" value="Lip Balm">
                <input type="hidden" name="price" value="760">
                <input type="hidden" name="image" value="https://tse3.mm.bing.net/th/id/OIP.k699yQbWNZc_GDRK79QJpgHaHa?pid=Api&P=0&h=180">
                <button>Add Cart</button>
            </form>
        </div>
        <div class="card">
            <img src="https://tse4.mm.bing.net/th/id/OIP.sDrN7PehhgiGpq6zAJNqiAHaHa?pid=Api&P=0&h=180">
            <h3>Sheet Mask</h3>
            <p class="price">₹110</p>
            <form action="/addprod" method="post">
                <input type="hidden" name="name" value="Sheet Mask">
                <input type="hidden" name="price" value="110">
                <input type="hidden" name="image" value="https://tse4.mm.bing.net/th/id/OIP.sDrN7PehhgiGpq6zAJNqiAHaHa?pid=Api&P=0&h=180">
                <button>Add Cart</button>
            </form>
        </div>
    </div>
</body>
</html>